```env
PORT=3000
NODE_ENV=development

# Database
# Port is generally 5432
DATABASE_URL=postgresql://<username>:<password>@<host>:<port>/<database>

# Redis
# Port is generally 6379
REDIS_URL=redis://<username>:<password>@<host>:<port>/<database>

# Authentication
JWT_SECRET=your_jwt_secret_here

# Cron
CRON_SECRET=your_secure_cron_secret

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Email
EMAIL_USER=your_email@example.com
EMAIL_PASS=your_email_app_password
```
